/* mobile */
/*@media screen (min-width: 320px) and (max-height: 480px) {*/
@media screen and (max-width: 600px){
    
    .overlay a {font-size: 1rem;}

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    
    .home-cont {
        margin-top: 15%;
    }
    
    .grid-container {
        display: flex;
        flex-direction: column;
    }
    
    .main-footer {
        margin-top: 15%;
    }
    
    .grid-item img {
        transform: scale(1.07);
        transition: .5s ease-in;
    }
    
    .grid-item img:hover {
        transform: scale(1.2);
    }
    
    .top-grid {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "item1"
            "item2"
            "item3";
    }
    
    .item1 {
        grid-area: item1;
    }
    
    .item2 {
        grid-area: item2;
    }
    
    .item3 {
        grid-area: item3;
    }
    
    .middle-grid {
        display: grid;
        margin-top: 1rem;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "item4"
            "item5"
            "item6";
    }
    
    .item4 {
        grid-area: item4;
    }
    
    .item5 {
        grid-area: item5;
    }
    
    .item6 {
        grid-area: item6;
    }
    
    .bottom-grid {
        display: none;
    }

}

/* tablet */
@media screen and (max-width: 767px) {
  


/* desktop */
@media screen and (max-width: 1024px) {
  

  
}



